hr {
    margin: 50px 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.box {
    height: 350px;
    background-color: #2b3344;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 30px;
}


.box .rectangle {
    background-color: #d9d9d9;
    border-radius: 8px;
    height: 300px;
    width: 1350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.box textarea {
    background-color: #d9d9d9;
    border-radius: 8px 8px 0 0;
    height: 300px;
    width: 1330px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    font-family: "MuseoModerno-Regular", Helvetica;
    font-size: 15px;
    outline: none;
    border:none;
    resize: none;
}

textarea:focus {
    outline: none;
    border:none
}

.box .rectangle p {
    color: #2b3344;
    padding: 0 10px;
}

.rectangle .greyBox {
  background-color: rgb(202 197 197);
  border-radius: 8px;
  height: 53px;
  width: 1350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textStyleButton {
    border-radius: 10px;
    height: 30px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.textStyleButton:hover {
    opacity: 0.8;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.iconContainer {
    padding: 0 10px;
}

.iconContainer svg {
    color: black;
    font-size: 23px;
    margin: 0 10px;
    cursor: pointer;
}