body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
}

.MainContainer {
  width: 1400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
